@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&family=Comfortaa:wght@300&family=Raleway:wght@200&family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

/* font-family: 'Baloo 2', cursive;
font-family: 'Comfortaa', cursive; 
font-family: 'Raleway', sans-serif;
font-family: 'Montserrat', sans-serif;*/
:root{
    --bg-black: #000000;
    --bg-main : #36434f;
    --nav-links: rgba(43, 42, 54, 0.81);
    --card: rgba(114, 100, 100, 0.29);
    --card1-inner: rgba(88, 85, 58, 0.227);   /* --card1-inner: rgba(255, 251, 0, 0.227); yellowish*/
 
}

*{
    margin: 0;
    padding: 0;

}

body{
    background: var(--bg-black);
    color: white;
  
}

.grid-container{
    display: grid;
    grid-template-columns: 9fr 1.5fr;
    grid-template-rows: 1fr 99vh;
   
}
                                                /* header stuff */
header {
    padding: 10px 0px;
    display: grid;
    grid-template-columns: 1.2fr 4fr 2.2fr 18fr;
    width: 100%;
    padding: 0 20px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background: var(--bg-black);
    position: sticky;
    top: 0px;

}
header > img {
    width: 45px;
    align-self: center;
    border-radius: 0 0 0px 20px;
    border-bottom: 0.1px solid rgb(216, 210, 210);

}
header h1{
    font-family: 'Baloo 2', cursive;
    white-space: nowrap;
    font-size: 1.7rem;
    justify-self: start;
    align-self: center;
    margin-top: 1px;
    letter-spacing: 0.2rem;
}
header h2 {
    align-self: center;
    justify-self: end;
    font-family: 'Raleway', sans-serif;
    white-space: nowrap;
}
header .search-bar {
    padding-right: 3rem;
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    min-width: 100%;
    justify-self: end;
}
.search-bar label{
    justify-self: end;
    margin-right: 5px;
}
.search-bar img{
    width: 30px;
    margin-top: 8px;

}

header input{
    height: 1.2rem;
    background: var(--bg-main);
    border-radius: 25px;

    border: none;
    padding: 5px 10px;
    font-size: 1rem;
    color: rgb(225, 215, 215);
    font-family: 'Baloo 2', cursive;;
}
input:focus{
    outline: none;
}


                                                /* aside stuff */
aside{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background: black;
    position: sticky;
    top: 0px;

}
.profile-icons{
    height:80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
 
}
aside img {
    width: 35px;
}

                                                    /* nav stuff */
nav {
    position: fixed;
    width: 200px;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 2fr;    
    top: 80px;
    left: 0;

}
.icons{
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    background: black;
    width: 75px;
    align-items: center;
   
}
svg{
    cursor: pointer;
    padding:10px 20px;
}

.icons li {
    list-style: none;
    margin-top: 10px;
    margin-bottom: 15px;
    align-self: center;
    justify-self: center;
}

.links {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:repeat(6, 1fr);
    align-items: center;
    padding: 0 10px;
    margin-left: -2px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s linear;
    background: var(--nav-links); 
    border-radius: 50px 0 0 0;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  
}

.links-hover{
    visibility: visible;
    opacity: 1;
}

.links-hovered, .links-clicked{ /* For JS*/
    background: rgba(55, 97, 213,0.8);
    border-radius: 2px;
    width: 110%;
    height: 30px;
    display: grid;
    align-content: center;
    justify-items: center;
}

.icons-clicked{/* For JS*/
    fill: rgba(55, 97, 213,0.8);
}
svg:hover{
    fill: rgba(55, 97, 213,0.8);
}


.links a {
    color: white;
    text-decoration: none;
    font-family: 'Comfortaa', cursive;
    
}
.links li {
    list-style: none;
  
   
}


#under-construction{
position: absolute;
top: 35%;
left:15%;
font-family: 'Raleway', sans-serif;
color: red;
font-size: 1.5rem;
text-align: center;
visibility: hidden;
}






                                                /* main stuff */
main{
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    height: 100vh;
    margin-left:80px;
    border-radius: 50px 0 0 0;
    padding: 40px 10px 40px 40px;
    display: grid;
    grid-template-columns: 10fr 1fr;
    background: linear-gradient(to right, #0f0c29, #1e1b40, #1a1a2c);
    position: relative;
    
}
                                            /* announcements  */

.announcements{
    /* height:100vh; */
    background: rgba(52, 54, 75, 0.246);
    justify-self: end;
    border-radius: 20px;
    display: grid;
    padding: 20px;
    font-family: 'Comfortaa', cursive; 
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    user-select: none;

}
.hide-ann, .show-ann {
    border: none;
    width: 140px;
    height: 20px;
    font-family: 'Baloo 2', cursive;
    color: white;
    background: #261e6d;
    justify-self: center;
    position: sticky;
    top: 80px;
    border-radius: 5px;
}

.hide-ann:hover, .show-ann:hover{
    background: #382ab7;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}    

.show-ann{
    display: none;
    width: calc(8vw + 20px);
    font-size: calc(1vw - 3px);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;  
}


.announcements > h2{
    text-align: center;
    margin-bottom: 5px;
}       
.announcements h4{
    color: rgb(244, 244, 247);
    text-align: center;
    margin-bottom: 10px;
}
.ann{
    margin-bottom: 20px;
    border: 0.1px solid white;
    border-radius: 5px;
    padding: 10px;
}
.ann p{
    color: rgb(132, 79, 79);
}                         




                                                /* cards */
                                                /* card Welcome */
.card-container{
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    justify-items: center;
    row-gap: 50px;

}
.card-container-hidden-ann{
    margin-left: 100px;
}              

.welcome {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.weekly{
    grid-column: 3 / 5;
}

.devices{
    grid-column: 1 / 2;
}
.stats{
    grid-column: 2 / 3;
}
.heart-rate{
    grid-column: 3 / 5;
}


.card{
    padding: 20px;
    max-height:400px;
    /* width: clamp(300px, 80%, 550px); */
    background: var(--card);
    border-radius: 30px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    overflow: hidden;
    width: clamp(300px, 90%, 550px);
}
.card-ann-hidden{
      width: clamp(300px, 80%, 550px);
}
.card-header{
    margin-bottom: 10px;
    width: 100%;
    font-size: 1.3rem;
    text-align: center;
    font-family: 'Comfortaa', cursive; 
}
.vag-pwner{
    color: rgb(103, 103, 143);
    text-shadow: 2px 2px 5px rgba(45,57,206,0.73);
}
.to-do{
    background: var(--card1-inner);
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 3px, rgba(0, 0, 0, 0.2) 0px 5px 10px -3px, rgba(0, 0, 0, 0.2) 0px -2px 0px inset;
    letter-spacing: 0.1rem;


}
                                                    /* Welcome card */

.welcome > p {
    margin-bottom: 30px;
}
.to-do p{
    margin-bottom: 20px;
    font-size: 1.3rem;
    text-align: center;
    color: #000000;
    font-family: 'Baloo 2', cursive;
}
.to-do ul{
    list-style: none;
}

.to-do li {
    margin-bottom: 25px;
    display: grid;
    grid-template-columns: 4fr 3fr 2fr;
    align-items: center;
    border-bottom: 0.1px solid rgb(66, 64, 64);
}
.to-do li .bar {
    width: 100%;
}
.to-do button, .add-devices {
    background: var(--nav-links);
    border: 0.1px solid rgb(108, 100, 19);
    width: 6.5rem;
    height: 1.5rem;
    border-radius: 4px;
    font-family: 'Comfortaa', cursive; 
    color: aliceblue;

}
.welcome-buttons {
  
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
#add-btn{
    justify-self: end;
}
#add-btn:hover, #remove-btn:hover, .add-devices:hover{
   background: rgb(74, 61, 61);
}

.to-do .left-side {
    font-weight:900;
    color: #9499cb;
    font-size: 1.1rem;
    font-family: 'Baloo 2', cursive;
}


.to-do .right-side {

    color: #ffffff;
    font-size: 0.9rem;
    font-family: 'Montserrat', sans-serif;
}


/* bullshit progress bars */
.bar {
    display: inline-block;
    width: 30%;
    background-color: rgb(86, 65, 65);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 12px;
  }
.bar-progress{
    background: linear-gradient(to right, #0a316f, #082a61, #092757d9, #06275b);
    /* background: linear-gradient(to right, #110216, #0d0119, #150227, #120022); */
    border-radius: 10px;
    height: 10px;
    
}

.steps {
    width: 75%;
    animation-fill-mode:both; 
    animation: progressBar1 2s ease-in-out;
}
@keyframes progressBar1 {
    0% { width: 0; }
    100% { width: 75%; }
  }
.cardio {
    width: 56%;    
    animation-fill-mode:both; 
    animation: progressBar2 2.3s ease-in-out;
}
@keyframes progressBar2 {
    0% { width: 0; }
    100% { width: 56%; }
  }
.weights {
    animation-fill-mode:both; 
    animation: progressBar3 1.8s ease-in-out;
}
@keyframes progressBar3 {
    0% { width: 0; }
    100% { width: 100%; }
  }
.sleep {
    width: 90%;
    animation-fill-mode:both; 
    animation: progressBar4 2.1s ease-in-out;
}
@keyframes progressBar4 {
    0% { width: 0; }
    100% { width: 90%; }
}

                                                /* card weekly */
.weekly{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 3fr ;
}

select{
    justify-self: center;
    appearance: none;   
   width: 150px;
   height: 25px;
   text-align: center;
   background: var(--bg-main);
   border: none;
   color: white;
   font-family: 'Montserrat', sans-serif;
   border-radius: 7px;
}

.weekly-graph .graph-time{
   width: 85%;
   margin-left: 32px;

}

.weekly-graph .graph-calories{
    width: 85%;
    margin-left: 32px;
   display: none;
}

                                                /* card devices */


.devices{
    min-width: 70%;
    max-width: 240px;
    max-height: 200px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    white-space: nowrap;
    display: grid;
    justify-items: center;
}
.devices li img {
    width: 35px;
}                                         
.devices li{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    align-items: center;
    padding: 5px;
    margin-bottom: 20px;
    border-bottom: 0.1px solid rgba(227, 217, 217, 0.22);
    list-style: none;
}
.disconnect{
    border: 0.1px solid rgba(111, 103, 103, 0.636);
    background-color: rgb(175, 94, 94);
    width: 70px;
    height:20px;
    font-family: 'Baloo 2', cursive;
    color: rgb(235, 237, 246);
    margin-left: 5px;
    border-radius: 5px;
 
}
.disconnect:hover{
    background-color: #653535;
}

                                                /* body composition */
/* font-family: 'Baloo 2', cursive;
font-family: 'Comfortaa', cursive; 
font-family: 'Raleway', sans-serif;
font-family: 'Montserrat', sans-serif;*/
.stats{
    min-width: 70%;
    max-width: 200px;
    max-height: 200px;
    display: grid;
    justify-items: center;
}

.stats li{
    list-style: none;
    font-family: 'Baloo 2', cursive;

    margin-bottom: 13px;
    border-bottom: 0.1px solid rgba(122, 115, 115, 0.399);
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
}
.stats button {
    justify-self: center;
}
.stats p{
    color: #9499cb;
}
.stats ul{
    width: 100%;
}
.stats span{
   
    margin-left: 10px;
}
.div-input-on{
    background: rgba(152, 150, 150, 0.705);
    border: 0.1px solid black;
    border-radius: 5px;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    padding: 2px;
  
}
                                                /* card heart */
.heart-rate{
    height: 200px;
   display: grid;
   justify-items: center;
}
.heart-rate img{
   width: 85%
}
