@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&family=Comfortaa:wght@300&display=swap');
:root{

}


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: black;
    color: white;
    padding: 20px 30px;
}

/*Main Grid*/

.grid-container{
    display: grid;
    grid-template-columns: 0.9fr 4fr 1fr;
    grid-template-rows: 1fr 7fr;
    
   
}
/* header stuff */
header{
    grid-column: 2 / span 2;
    grid-row: 1 / span 1;
    background:rgba(240, 248, 255, 0.189);
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-items: center;
    align-items: center;
 
}
header .profile-nav{
    background-color: rgba(86, 148, 203, 0.189);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


/* Nav Stuff */
nav{
   padding: 1rem;
    grid-column: 1/ span 1;
    grid-row: 1 /span 2;
    display: grid;
    grid-template-columns: 1fr 4fr;
    border-right: 1px solid white;
}

nav > img{

    width: 40px;
    grid-column: 1 /span 1;
    grid-row: 1 / span 1;
    margin-bottom: 3rem;
    justify-self: center;
   
    
}
nav h1 {
    grid-column: 2 / span 1;
    font-family: 'Baloo 2', cursive;
    justify-self: start;
    margin-left: 0.6rem;
    font-size: 1.5rem;

}
nav ul{
    list-style: none;
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;

}

nav li {
    font-family: 'Comfortaa', cursive;
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-bottom: 2rem;
    align-items: center;
    justify-items: start;
    font-size: 1.2rem;
}

nav>ul>li:nth-child(4){
   margin-bottom: 4rem;
}
nav>ul>li:last-child{
    margin-bottom: 0;
 }


a {
    text-decoration: none;
    color: white;
}

/* main stuff */
main{
    grid-column: 2/ span 1;
    grid-row: 2 / span 1;
    background-color: rgba(124, 128, 124, 0.223);
}
/* aside stuff */
aside{
    grid-column: 3 /span 1;
    grid-row: 2 / span 1;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr;
}

aside .profile-content{
  
}












/*---------------*/


.icon{

    max-width: 30px;
   
}